@model Usuario

@{
    ViewData["Title"] = "Registro";
}

<h1>Registrarse</h1>

<form asp-action="Registro">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-4 col-md-3">
        <label asp-for="NombreUsuario" class="form-label">Usuario</label>
        <input asp-for="NombreUsuario" class="form-control">
        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
    </div>
    <div class="mb-4 col-md-3">
        <label asp-for="Contrasenia" class="form-label">Contraseña</label>
        <input asp-for="Contrasenia" class="form-control">
        <span asp-validation-for="Contrasenia" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Regístrate</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}